body
{
 margin: 0;
 background: white;
 font-family: 'Work Sans', sans-serif;
 font-weight: 300;
}

.navbar 
{
    width: 80%;
    margin: 0 auto;
}

header
{
   background: black;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

img
{
    width: 15vw;
    margin-bottom: 10px;
}
.logo
{
    float: left;
    padding: 10px 0;
    width: 5vw;
    margin-top: 0;
    margin-bottom:0;
    display: block;

}

nav
{
    float: right;
}

nav ul
{
    margin : 0;
    padding : 0;
    list-style: none;
}

nav li
{
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
    position: relative;
}

nav a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover
{
    color:yellow;

}

nav a:before
{
  content:"";
  display: block;
  height: 5px;
  width: 100%;
  background-color:yellow;
  position: absolute;
  top:0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before
{
   width: 100%;

}

  /* Style the active/current link */
  .navbar a.active {
    background-color: #444;
    color: white;
    width: 50px;
  }

#shopping-cart {
	margin: 40px;
}


#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}



.cart-item-image {
	width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

p
{
    font-family: 'Courier New', monospace;
    font-size: 15px;
    text-align: center;
}