@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body, html 
{
  height: 100%;
}
  
*
{
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
 
.table-bkground 
{
  /* The image used */
  background-image: url("../img/dark2.jpg");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-size: cover;
}
             
.table  
{
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 5px;
  text-align: center;
}

a 
{
  color: rgb(255, 255, 255);
}
a:hover 
{
  color: #e6c15c;
}

input[type=text],
input[type=password]
{
  text-align: center;
  width:20%;
  height:25px;
  padding:5px;
  margin-top:5px;
  margin-bottom:10px;
}

input[type=submit],
input[type=reset],
input[type=button]{
padding: 5px;
background: linear-gradient(#ffffff 5%, #4b4b4b 100%);
border: 3px solid #888888;
color: #000000;
cursor: pointer;
width: 10%;
border-radius: 5px;
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
font-weight:bold;
font-size:15px;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover{
background: linear-gradient(#968a6a 5%, #e6c15c 100%);
}

.g-signin2
{
  
  display: flex;
  align-items: center;
  justify-content: center
}
