body
{
 margin: 0;
 background: white;
 font-family: 'Work Sans', sans-serif;
 font-weight: 300;
 text-align: center;
 border:3px solid #000;
}

.navbar 
{
    width: 80%;
    margin: 0 auto;
}

header
{
   background: black;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

img
{
    width: 15vw;
    margin-bottom: 10px;
}
.logo
{
    float: left;
    padding: 10px 0;
    width: 5vw;
    margin-top: 0;
    margin-bottom:0;
    display: block;

}

nav
{
    float: right;
}

nav ul
{
    margin : 0;
    padding : 0;
    list-style: none;
}

nav li
{
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
    position: relative;
}

nav a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover
{
    color:yellow;

}

nav a:before
{
  content:"";
  display: block;
  height: 5px;
  width: 100%;
  background-color:yellow;
  position: absolute;
  top:0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before
{
   width: 100%;

}

  /* Style the active/current link */
  .navbar a.active {
    background-color: #444;
    color: white;
    width: 50px;
  }
  
  
  .label
  {
      display: inline-block;
   
      width: 130px;
  }

  .text, .password
  {
  margin-top: 10px;	
	
  } 

.submit
{
	margin-top: 5px;
}



form {
    display: inline-block;
  }
